<!DOCTYPE html>
<html>

<head>
	<title>Groupify</title>
	<!-- add icon link -->
	<link rel = "icon" href = "https://drive.google.com/uc?id=1KA2sN8_wm1vFOkYqmg60r1xIO9I-XjCO" type = "image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/op.css"/> 
</head>

<body>
	{% if not user %}
	<p>
		<a href="/" style="color:black">Home</a> |
		<a href="/about" style="color:black">About</a> |
		<a href="/contact" style="color:black">Contact</a>
	</p>
	{% else %}
	<p>
		<a href="/" style="color:black">Home</a> |
		<a href="/about" style="color:black">About</a> |
		<a href="/contact" style="color:black">Contact</a> |
		<a href="/group" style="color:black">Group</a> |
		<a href="/logout" style="color:black">Log Out</a>
	</p>
	{% endif %} {% block content %}{% endblock %}
</body>

</html>